@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1570ef;
  --color-secondary: #0049c6;
  --text-primary: #181d27;
  --text-secondary: #414651;
  --background: #fafafa;
}
@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #e5e5e5 #ffffff;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #414040;
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #cccccc;
  }
}
